body{
    background-color: black;
    color:antiquewhite;
    margin: 0;
}
#ClockContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 598px;
}
#Clock{
    text-align: center;
    font-size:100px;
}